body {
    margin:0px;
    padding: 0px;

}

#outerContainer{
    display: grid;
    background: url('./restaurant.jpg');    
    background-size: cover;
    grid-template: 
    'nav nav nav'
    '. main .'
    ;    
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-rows: 12vh 88vh;

}

#navBar {
    display: grid;
    grid-area: nav; /* Assign the grid area */
    background-color: rgb(252, 57, 57);
    width: 100%;
    grid-template: 
    "."
    "head"
    "."
    ;
    
}

#heading {
    color: bisque;
    border: 1px solid blue;
    grid-area: head;       
}

#mainSec {  
    grid-area: main;
    background-color: rgb(255, 228, 228);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
}